.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 2rem;
    min-height: 70vh;

    @media screen and (max-device-width:500px) {
        padding: 2rem 1rem;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;

    @media screen and (max-device-width:500px) {
        font-size: 3rem;
    }
}

.total{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    line-height: 110%;
    border-bottom: 1px solid black;

    @media screen and (max-device-width:500px) {
        font-size: 2rem;
    }
}

.totalPrice{
    font-weight: 900;
}